.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000%;
    width: 1000%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .gif-player {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
  }
  
  .congratulations-text {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out; /* เอฟเฟกต์ข้อความแบบจาง */
  }
  
  /* เอฟเฟกต์ข้อความ */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  